*** USE THE CONCEPT OF FUNCTIONS TO SOLVE THE BELOW PROGRAMMING QUESTIONS ***

1) Write a Python function to sum all the numbers in a list.

> Add blockquote



Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [1]:
#WRITE YOUR CODE HERE
list=[8,2,3,0,7]
sum=0
for i in list:
  sum = sum+i
print(sum)

20

2) Write a Python function to multiply all the numbers in a list.

Sample List : (8, 2, 3, -1, 7)

Expected Output : -336

In [2]:
#WRITE YOUR CODE HERE
list=[8,2,3,-1,7]
mul=1
for i in list:
  mul = mul*i
print(mul)

-336

3) Write a Python program to reverse a string.

Sample String : "1234abcd"

Expected Output : "dcba4321"

In [ ]:
#WRITE YOUR CODE HERE
string=input()
print(string[::-1])

1234abcd
dcba4321

4) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [4]:
#WRITE YOUR CODE HERE
def fact(num):
  f=1
  for i in range(1,num+1):
    f = f*i
  print(f)
num=int(input())
fact(num)

10
3628800

5) Write a Python function to check whether a number falls within a given range.

In [5]:
#WRITE YOUR CODE HERE
num=int(input())
lower=int(input())
upper=int(input())
if lower <= num <=upper :
  print('true')
else:
  print('false')

20
15
18
false