1.Remove empty strings from the list1 of strings

list1 = ["Mike", " ", "Emma", "Kelly", " ", "Brad"]

In [3]:
l=["Mike","","Emma","Kelly","","Brad"]
l=[x for x in l if x.strip()]
print(l)# write your code here

['Mike', 'Emma', 'Kelly', 'Brad']

2.Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

expected o/p ; [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [2]:
list = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list[2][2].insert(2,7000)
print(list)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

3.You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

list1 = [5, 10, 15, 20, 25, 50, 20]

Expected output:
[5, 10, 15, 200, 25, 50, 20]

In [4]:
lt = [5, 10, 15, 20, 25, 50, 20]#write your code here
index=lt.index(20)
lt[index]=200
print(lt)

[5, 10, 15, 200, 25, 50, 20]

4.Remove all occurrences of a specific item from a list.
Given a Python list, write a program to remove all occurrences of item 20.

list1 = [5, 20, 15, 20, 25, 50, 20]

Expected output:

[5, 15, 25, 50]

In [5]:
l2 = [5, 20, 15, 20, 25, 50, 20]# write your code here
l2=[i for i in l2 if i!=20]
print(l2)

[5, 15, 25, 50]

5.Concatenate two lists in the following order

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [6]:
l1 = ["Hello ", "take "]
l2 = ["Dear", "Sir"]
res= [i + j for i in l1 for j in l2]
print(res)# write your code here

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']